ABOUT-NLS
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/*
/config.h
/config.h.in
/config.log
/config.status
/config.log
/configure
/debian/*
/gtetrinet.desktop
/gtetrinet.schemas
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/m4
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/stamp-h1
